USE [agendamedica]
GO
/****** Object:  StoredProcedure [dbo].[sp_HorarioDisponibleAgendaMedico]    Script Date: 18/03/2026 09:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_HorarioDisponibleAgendaMedico]
    @MedicoId INT,
    @Fecha DATE,
    @HorarioInicio TIME,
    @HorarioFin TIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DiaSemana VARCHAR(15);

    SET @DiaSemana =
        CASE (DATEDIFF(DAY, '19000101', @Fecha) % 7)
            WHEN 0 THEN 'Lunes'
            WHEN 1 THEN 'Martes'
            WHEN 2 THEN 'Miércoles'
            WHEN 3 THEN 'Jueves'
            WHEN 4 THEN 'Viernes'
            WHEN 5 THEN 'Sábado'
            WHEN 6 THEN 'Domingo'
        END;

    IF EXISTS (
        SELECT 1
        FROM HorarioMedico
        WHERE MedicoId = @MedicoId
          AND DiaSemana = @DiaSemana
          AND HoraInicio = @HorarioInicio
          AND HoraFin = @HorarioFin
    )
    BEGIN
        SELECT 1  AS Disponible;
    END
    ELSE
    BEGIN
        SELECT 0 AS Disponible;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCita]    Script Date: 18/03/2026 09:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertarCita]
    @MedicoId INT,
    @PacienteId INT,
    @Estado VARCHAR(15),
    @Motivo VARCHAR(150),
    @MotivoCancelacion VARCHAR(150) = NULL,
    @InicioCita DATETIME,
    @FinCita DATETIME,
    @NoCancelaciones INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRAN;

    DECLARE @Cancelaciones INT;
    DECLARE @Mensaje NVARCHAR(300);

    SELECT @Cancelaciones = COUNT(*)
    FROM Cita
    WHERE Estado = 'Cancelada'
      AND PacienteId = @PacienteId
      AND InicioCita >= DATEADD(DAY, -30, GETDATE());

    IF @Cancelaciones >= @NoCancelaciones
    BEGIN
        SET @Mensaje = CONCAT(
            'El paciente tiene ',
            @Cancelaciones,
            ' cancelaciones en los últimos 30 días. Límite permitido: ',
            @NoCancelaciones,
            '.'
        );

        ROLLBACK TRAN;
        RAISERROR(@Mensaje, 16, 1);
        RETURN;
    END

    INSERT INTO Cita
    (
        MedicoId,
        PacienteId,
        Estado,
        Motivo,
        MotivoCancelacion,
        InicioCita,
        FinCita
    )
    VALUES
    (
        @MedicoId,
        @PacienteId,
        @Estado,
        @Motivo,
        @MotivoCancelacion,
        @InicioCita,
        @FinCita
    );

    COMMIT TRAN;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerAgendaMedicoPorFecha]    Script Date: 18/03/2026 09:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerAgendaMedicoPorFecha]
    @MedicoId INT,
    @Fecha DATE
AS
BEGIN
    DECLARE @DiaSemana VARCHAR(15);

    SET @DiaSemana =
        CASE (DATEDIFF(DAY, '19000101', @Fecha) % 7)
            WHEN 0 THEN 'Lunes'
            WHEN 1 THEN 'Martes'
            WHEN 2 THEN 'Miércoles'
            WHEN 3 THEN 'Jueves'
            WHEN 4 THEN 'Viernes'
            WHEN 5 THEN 'Sábado'
            WHEN 6 THEN 'Domingo'
        END;

    ;WITH HorariosDelDia AS
    (
        SELECT
            HM.IdHorario,
            HM.MedicoId,
            HM.DiaSemana,
            HM.HoraInicio AS BloqueInicio,
            HM.HoraFin AS BloqueFin
        FROM HorarioMedico HM
        WHERE HM.MedicoId = @MedicoId
          AND HM.DiaSemana = @DiaSemana
    ),
    CitasDelDia AS
    (
        SELECT
            C.IdCita,
            C.MedicoId,
            C.PacienteId,
            P.NombreCompleto AS NombrePaciente,
            C.Estado AS EstadoCita,
            C.Motivo,
            CAST(C.InicioCita AS TIME(0)) AS HoraInicioCita,
            CAST(C.FinCita AS TIME(0)) AS HoraFinCita
        FROM Cita C
        INNER JOIN Paciente P
            ON P.IdPaciente = C.PacienteId
        WHERE C.MedicoId = @MedicoId
          AND C.Estado <> 'Cancelada'
          AND C.InicioCita >= @Fecha
          AND C.InicioCita < DATEADD(DAY, 1, @Fecha)
    )
    SELECT
        HD.MedicoId,
        @Fecha AS FechaAgenda,
        HD.DiaSemana,
        HD.BloqueInicio,
        HD.BloqueFin,
        CASE
            WHEN CD.IdCita IS NOT NULL THEN 'Ocupado'
            ELSE 'Libre'
        END AS EstadoBloque,
        CD.IdCita,
        CD.PacienteId,
        CD.NombrePaciente,
        CD.EstadoCita,
        CD.Motivo
    FROM HorariosDelDia HD
    LEFT JOIN CitasDelDia CD
        ON CD.HoraInicioCita = HD.BloqueInicio
       AND CD.HoraFinCita = HD.BloqueFin
    ORDER BY HD.BloqueInicio;
END;

GO
